.avatar {
    border-radius: 50%
}

.s35 {
    width: 35px;
    height: 35px;
}

.s45 {
    width: 45px;
    height: 45px;
}

.s50 {
    width: 50px;
    height: 50px;
}

.img-online {
    border: 3px solid #2bad0a;
}
