<span>
    
    @htmlText
    
    @if (!string.IsNullOrWhiteSpace(Text) && Text.Length > maxTextLength)
    {
        <span @onclick="OnWrap" class="mud-primary-text" style="font-size:14px; font-weight:500; cursor:pointer">
            @(isShortText ? " далее »" : " « скрыть")
        </span>
    }

</span>
