<span>
    
    @htmlText
    
    @if (!string.IsNullOrWhiteSpace(Text) && Text.Length > maxTextLength)
    {
        <span @onclick="OnWrap"><a href="javascript:void" class="mud-primary-text" style="font-size:14px; font-weight: 500">@(isShortText ? new MarkupString(" Далее &raquo;") : new MarkupString(" &laquo; Скрыть"))</a></span>
    }

</span>
